{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Auto PDF convert</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <div class="container">
            <div class="background">
                <img src="static/background_container.png" alt="Fundo_Branco">
            </div>

            <h2>Converter PDF para Imagem</h2>
            <div class="buttons">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="pdf_file" class="browse-label">Selecionar
                        arquivo PDF</label>
                    <input id="pdf_file" class="browse" type="file"
                        name="pdf_file">
                    <button type="submit"
                        class="converter-button">Converter para imagem</button>
                </form>
                {% if converted %}
    <h3>PDF convertido com sucesso!</h3>
    <h4>Imagens salvas em: {{ images_folder }}</h4>
                {% endif %}
            </div>
        </body>

    </html>
